* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}

.appBox {
  width: 60%;
  height: 80vh;
  margin: 2rem auto;
}

h1 {
  color: black;
  text-align: center;
}

.tableBox {
  width: 100%;
  margin: 0.5rem auto;
  height: 58vh;
  border: 3px solid lavender;
  overflow: scroll;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

thead {
  background-color: lavender;
}

th {
  text-align: left;
  position: sticky;
  top: 0;
  background-color: lavender;
}

td {
  word-wrap: break-word;
}

.cell1 {
  width: 15%;
  height: 3rem;
}

.cell2 {
  width: 15%;
  height: 3rem;
}

.cell3 {
  width: 35%;
  height: 3rem;
}

.cell4 {
  width: 35%;
  height: 3rem;
}

.btnCell {
    position: relative;
}

.row:hover {
  background-color: rgb(238, 236, 142);
}

.oddRow {
  background-color: white;
}

.evenRow {
  background-color: lightgray;
}

.rowBtn {
  width: 60px;
  height: 30px;
  border-radius: 0.7rem;
  font-size: 0.8rem;
}

#deleteBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
}

#editBtn {
  position: absolute;
  right: 80px;
  top: 10px;
  visibility: hidden;
}

.row:hover #deleteBtn {
  background-color: #c49191;
  color: white;
  border: 2px solid white;
  visibility: visible;
  cursor: pointer;
}

.row:hover #editBtn {
  background-color: rgb(149, 182, 149);
  color: white;
  border: 2px solid white;
  visibility: visible;
  cursor: pointer;
}

.pagerBox {
  width: 70%;
  margin: 1rem auto;
  height: 6vh;
  border: 3px solid lavender;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagesList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0 0.5rem;
}

.pageListItem {
  list-style: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  line-height: 2rem;
}

.pageListItem a {
  text-decoration: none !important;
  color: black !important;
}

.active-page-link {
  background-color: lavender;
}

.pageListItem:hover:not(.active-page-link) {
  background-color: gainsboro;
  transition: background-color 0.3s;
}
